*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid black;
}

#recta{
    width: 15rem;
    height: 15rem;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#page2{
    width: 100%;
    height: 100vh;
    position: relative;
}

#center{
    height: 25rem;
    width: 45rem;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centerImage{
    width: 100%;
    height: 100vh;
    background-color: beige;
    position: relative;
}

#centerDiv{
    height: 35rem;
    width: 55rem;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#centerDiv h1{
    font-size: 300px;
}


.imageDiv{
    width: 200px;
    height: 270px;
    position: absolute;
    /* background-color: yellow; */
    overflow: hidden;
    
}


.imageDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%);
}